#contentBody a {
  background-color: transparent;
}

#contentBody a:active,
#contentBody a:hover {
  outline-width: 0;
}

#contentBody strong {
  font-weight: inherit;
}

#contentBody strong {
  font-weight: bolder;
}

#contentBody h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

#contentBody img {
  border-style: none;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#contentBody code,
#contentBody kbd,
#contentBody pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

#contentBody hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

#contentBody input {
  font: inherit;
  margin: 0;
}

#contentBody input {
  overflow: visible;
}

#contentBody [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

#contentBody * {
  box-sizing: border-box;
}

#contentBody input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#contentBody a {
  /* color: #0366d6; */
  /* text-decoration: none; */
  text-decoration: underline;
}

#contentBody a:hover {
  text-decoration: underline;
}

#contentBody strong {
  font-weight: 600;
}

#contentBody hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
}

#contentBody hr::before {
  display: table;
  content: "";
}

#contentBody hr::after {
  display: table;
  clear: both;
  content: "";
}

#contentBody table {
  border-spacing: 0;
  border-collapse: collapse;
}

#contentBody td,
#contentBody th {
  padding: 0;
}

#contentBody h1,
#contentBody h2,
#contentBody h3,
#contentBody h4,
#contentBody h5,
#contentBody h6 {
  margin-top: 0;
  margin-bottom: 0;
}

#contentBody h1 {
  font-size: 32px;
  font-weight: 600;
}

#contentBody h2 {
  font-size: 24px;
  font-weight: 600;
}

#contentBody h3 {
  font-size: 20px;
  font-weight: 600;
}

#contentBody h4 {
  font-size: 16px;
  font-weight: 600;
}

#contentBody h5 {
  font-size: 14px;
  font-weight: 600;
}

#contentBody h6 {
  font-size: 12px;
  font-weight: 600;
}

#contentBody p {
  margin-top: 0;
  margin-bottom: 10px;
}

#contentBody blockquote {
  margin: 0;
}

#contentBody ul,
#contentBody ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#contentBody ol ol,
#contentBody ul ol {
  list-style-type: lower-roman;
}

#contentBody ul ul ol,
#contentBody ul ol ol,
#contentBody ol ul ol,
#contentBody ol ol ol {
  list-style-type: lower-alpha;
}

#contentBody dd {
  margin-left: 0;
}

#contentBody code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

#contentBody pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

#contentBody .octicon {
  vertical-align: text-bottom;
}

#contentBody .pl-0 {
  padding-left: 0 !important;
}

#contentBody .pl-1 {
  padding-left: 4px !important;
}

#contentBody .pl-2 {
  padding-left: 8px !important;
}

#contentBody .pl-3 {
  padding-left: 16px !important;
}

#contentBody .pl-4 {
  padding-left: 24px !important;
}

#contentBody .pl-5 {
  padding-left: 32px !important;
}

#contentBody .pl-6 {
  padding-left: 40px !important;
}

#contentBody::before {
  display: table;
  content: "";
}

#contentBody::after {
  display: table;
  clear: both;
  content: "";
}

#contentBody>*:first-child {
  margin-top: 0 !important;
}

#contentBody>*:last-child {
  margin-bottom: 0 !important;
}

#contentBody a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#contentBody .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

#contentBody .anchor:focus {
  outline: none;
}

#contentBody p,
#contentBody blockquote,
#contentBody ul,
#contentBody ol,
#contentBody dl,
#contentBody table,
#contentBody pre {
  margin-top: 0;
  margin-bottom: 16px;
}

#contentBody hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #ffffff;
  border: 0;
}

#contentBody blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

#contentBody blockquote>:first-child {
  margin-top: 0;
}

#contentBody blockquote>:last-child {
  margin-bottom: 0;
}

#contentBody kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

#contentBody h1,
#contentBody h2,
#contentBody h3,
#contentBody h4,
#contentBody h5,
#contentBody h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#contentBody h1 .octicon-link,
#contentBody h2 .octicon-link,
#contentBody h3 .octicon-link,
#contentBody h4 .octicon-link,
#contentBody h5 .octicon-link,
#contentBody h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

#contentBody h1:hover .anchor,
#contentBody h2:hover .anchor,
#contentBody h3:hover .anchor,
#contentBody h4:hover .anchor,
#contentBody h5:hover .anchor,
#contentBody h6:hover .anchor {
  text-decoration: none;
}

#contentBody h1:hover .anchor .octicon-link,
#contentBody h2:hover .anchor .octicon-link,
#contentBody h3:hover .anchor .octicon-link,
#contentBody h4:hover .anchor .octicon-link,
#contentBody h5:hover .anchor .octicon-link,
#contentBody h6:hover .anchor .octicon-link {
  visibility: visible;
}

#contentBody h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #c9c9c9;
}

#contentBody h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #c9c9c9;
}

#contentBody h3 {
  font-size: 1.25em;
}

#contentBody h4 {
  font-size: 1em;
}

#contentBody h5 {
  font-size: 0.875em;
}

#contentBody h6 {
  font-size: 0.85em;
  color: #6a737d;
}

#contentBody ul,
#contentBody ol {
  padding-left: 2em;
}

#contentBody ul ul,
#contentBody ul ol,
#contentBody ol ol,
#contentBody ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

#contentBody li {
  word-wrap: break-all;
}

#contentBody li>p {
  margin-top: 16px;
}

#contentBody li+li {
  margin-top: 0.25em;
}

#contentBody dl {
  padding: 0;
}

#contentBody dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

#contentBody dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

#contentBody table {
  display: block;
  width: 100%;
  overflow: auto;
}

#contentBody table th {
  font-weight: 600;
}

#contentBody table th,
#contentBody table td {
  padding: 6px 13px;
  border: 1px solid #c9c9c9;
  background-color: #f6f6f6;
}

#contentBody img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #f6f6f6;
}

#contentBody img[align=right] {
  padding-left: 20px;
}

#contentBody img[align=left] {
  padding-right: 20px;
}

#contentBody code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #f6f6f6;
  border-radius: 3px;
}

#contentBody pre {
  word-wrap: normal;
}

#contentBody pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#contentBody .highlight {
  margin-bottom: 16px;
}

#contentBody .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#contentBody .highlight pre,
#contentBody pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f6f6;
}

#contentBody pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

#contentBody .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5;
  border-color: #005cc5;
}

#contentBody kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

#contentBody :checked+.radio-label {
  position: relative;
  z-index: 1;
  border-color: #0366d6;
}

#contentBody .task-list-item {
  list-style-type: none;
}

#contentBody .task-list-item+.task-list-item {
  margin-top: 3px;
}

#contentBody .task-list-item input {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
}

#contentBody hr {
  border-bottom-color: #eee;
}
