/* General */
body {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	min-height:100vh;
	margin: 0;
	padding: 20px;
	box-sizing:border-box;
	background-color: #ffffff;
	color: #707070;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Courier", Times, serif;
	line-height: 1.5;
	font-size: 16px;
	word-wrap: break-word;
}
mark {
	color: #000000;
	font-weight: bold;
}
a:link {
	color: #000000;
}
a:visited {
	color: #000000;
}
a:hover {
	color: #000000;
}
a:active {
	color: #000000;
}
/* Header */
header .avatar {
	position: relative;
	height: 90px;
}
header .avatar img {
	position: absolute;
	width: 100px;
	margin: 0 auto;
	left: 0;
	right: 0;
}
header .avatarMask {
	clip-path: circle(48px at center);
	-webkit-clip-path: circle(48px at center);
}
/* Footer */
footer {
	font-size: 12px;
	box-sizing:border-box;
}
/* Top page */
#profileContainer {
	min-height: calc(100vh - 100px);
	display: flex;
	justify-content: center;
	align-items: center;
}
#profile {
	max-width: 600px;
	/* min-width: 300px;
	*/
}
nav ul {
	display: flex;
	justify-content: center;
	padding: 0;
	list-style: none;
}
nav li {
	margin: 0 10px;
}
/* Contents List */
#contentsList {
	padding: 20px 0;
}
#contentsList hr.separator {
	width: 10px;
	margin: 30px auto;
	border: solid 1px #c9c9c9;
}
/* Page */
#contentBody {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: left;
}
