<footer>
  <p>
    &copy; made by {{ .Site.Params.Author }},  {{ .Site.Params.publicationYear }}.
  </p>
</footer>
{{- range .Site.Params.custom_js -}}
<script src="{{ . }}"></script>
{{ end }}