<!DOCTYPE html>
<html>
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}
    <div class="main">
      <div>
        <h1>404 page not found.</h1>
        <p><a href="{{ .Site.BaseURL }}">Go Home</a></p>
      </div>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>